@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body
{
	font-weight: 300;
	background-color: #000000;
	background-image: url(../images/bag_02.jpg);
	background-position: top left;
	background-repeat: repeat-x;
}

label
{
	font-weight: 300;
}
.input-group
{
	width: 100%;
	background-color: #9D005C;
	margin: 3px 0;
	padding: 5px;
}
.content{
	width: 1000px;
	margin: 0 auto;
	background-image: url(../images/AmiWebBag.jpg);
	overflow: hidden;
	background-repeat: no-repeat;
}

#top
{
	width: 100%;
	height: 271px;
}

#main
{
	overflow: hidden;
}

#left-side
{
	margin-left: 28px;
  	width: 237px;
  	float: left;
}

#view
{
	float: left;
	width: 680px;
	margin-left: 20px;
}

#bottom
{
	background-image: url(../images/AmiWebbottom_51.jpg);
	width: 1000px;
	height: 73px;
	color: #fff;
	text-align: center;
	p
	{
		line-height: 50px;
		a
		{
			color: #fff;
			text-decoration: none;

			&:hover
			{
				color: #aaa;
			}
		}
	}
}
.box
{
	border: 1px solid #C96D17;
	border-radius: 5px;
	width: 100%;
	//background-color: #fff;
	overflow: hidden;
	margin-top: 20px;

	.main
	{
		padding: 5px 20px;
		color: #fff;
		.input-group
		{
			a
			{
				color: wheat;
			}	
		}
		
	}
}
#login
{
	background-color: #fff;
	.main
	{
		padding: 10px;
		.inputs
		{
			padding: 6px 6px 0px 6px;
			width: 128px;
			float: left;
		}	

		.submit
		{
			padding-top: 13px;
			input[type="submit"]
			{
				background-image: url(../images/login_15.jpg);
				width: 87px;
				height: 64px;
				border: 0px;
				&:hover
				{
					background-image: url(../images/login2_15.jpg);
				}
			}
		}
		.fb
		{
			text-align: center;
		}
	
		.avatar
		{
			//float: left;
			margin-right: 5px;
			text-align: center;
			img
			{
				width: 100px;
				height: 100px;
				margin: 0 auto;
			}
		}
		.profile
		{
			float: left;
			margin-top: 20px;
		}
		

		.logout
		{
			text-align: center;
		}
	}
}

#middle-side
{
	//margin: 0 20px;
	float: left;
	width: 517px;
	
}

#fans
{
	.header
	{
		img
		{
			position: relative;
			top: -6px;
			left: -5px;
		}
	}

	.fb-page
	{
		//margin: 0 auto;
		//display: inline-block;
		margin: 10px 7.5px;
	}
}
#news
{
	.main
	{
		padding: 0px;
		.news
		{
			color: #FFCC66;
			font-size: 15px;
			border-bottom: 1px dotted #fff;
			overflow: hidden;
			padding: 10px 0px;
			margin: 10px;
			.date
			{
				color: #f00;
				font-weight: bold;
			}
		}
	}
}

#games
{
	.main
	{
		margin: 10px 0px;
		.game
		{
			float: left;
			width: 50%;
			text-align: center;
			img
			{
				margin: 10px 0px;
			}
			p
			{
				color: #FFFF99;
			}
		}
	}
}

#ranks
{
	.main
	{
		ul
		{
			list-style: none;
			padding: 0px;
			li
			{
				text-align: center;
				width: 20%;
				float: left;
				img
				{
					border: 1px solid #FF9966;
					width: 80px;
					height: 80px;
				}
				.name
				{
					color: #fff;
				}
				.chips
				{
					color: #FFFF99;
				}
			}
		}
	}
}
#users
{
	.main
	{
		padding: 5px 20px;
		label
		{
			color: #fff;
		}

		.avatar
		{
			text-align: center;
			input[type="file"]
			{
				display: none;
			}
			.preview
			{
				width: 200px;
				height: 100px;
				margin: 10px auto;
			}
			img
			{
				//width: 160px;
				//height: 160px;
				margin: 0 auto;
			}
		}
		span.head,
		span.substance
		{
			font-size: 18px;
			color: #fff;
		}
	}
}
#faq
{
	.main
	{
		padding: 20px;
		a
		{
			color: #fff;
		}		

	}
}

#introduction
{
	.main
	{
		text-align: center;
		p
		{
			color: wheat;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

#storedValue
{
	.payments
	{
		width: 470px;
		margin: 20px auto;

		.element
		{
			background-color: #9D005C;
			border-radius: 10px;
			padding: 10px;
			margin: 10px auto;
			ul
			{
				list-style: none;
				padding: 0px;
				overflow: hidden;
				li
				{
					float: left;
					width: 33%;
					padding: 0 6px;
					margin: 2px 0;
				}
			}
			span
			{
				color: #fff;
			}
		}
	}
}

#storedBox
{
	position: fixed;
	top: 20%;
	.header
	{
		width: 494px;
		height: 71px;
		background-image: url(../images/myCardPay_03.jpg);
		a
		{
			float: right;
			margin-top: 20px;
			margin-right: 20px;

		}
	}

	.body
	{
		width: 494px;
		background-image: url(../images/myCardPay_05.jpg);
		padding: 20px;
		text-align: center;
		h4
		{
			text-align: center;
		}
		label
		{
			background-color: rgb(232, 232, 232);
			background-image: none;
			
		}
		.no-break
		{
			white-space: nowrap;
		}
		.well
		{
			width: 430px;
			overflow: hidden;
			text-align: left;
			border-radius: 10px;
			background-color: rgb(232, 232, 232);
			border-color: rgb(195, 195, 195);
			padding: 5px 10px;
			margin: 10px auto;
			.col-md-6, .col-md-12
			{
				padding: 0px;
			}


		}
		
		input[type="submit"]
		{
			background-image: url(../images/myCardPay_14.jpg);
			width: 67px;
			height: 34px;
			border: none;
			text-align: center;
		}
	}
	.footer
	{
		width: 494px;
		height: 27px;
		background-image: url(../images/myCardPay_17.jpg);
	}
}

#privacy
{
	color: #fff;
	.main
	{
		strong
		{
			color: wheat;
		}
	}
}

#proposal
{
	color: #fff;
	.main
	{

	}
}

.fa-ami
{
	svg
	{
		width: 25px;
		height: 25px;
		fill: white;
		margin: 3.5px;
	}

}

.btn-ami
{
  color: #fff;
  background-color: #87004F;
  border-color: rgba(0,0,0,0.2);
  &:hover
  {
  	color: #fff;
  	background-color: #49002B;
  }
}

.backdrop
{
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  height: 100%;
  img
  {
  	position: relative;
  	top: 50%;
  }
}
.panel-faq
{
	border-radius: 0px !important;
	border: 0px !important;
	background-color: rgba(0, 0, 0, 0.44);
	.panel-heading
	{
		background-color: #9c005c;
		color: #fff;
		a,
		a:hover,
		a:active
		{
			text-decoration: none;

		}
	}

	.panel-body
	{
		border-top: 0px !important;
		color: wheat;
	}
}
.form-control
{
	border: 1px solid #000;
	border-radius: 0px;
	height: 30px;
}